.achievements {

	// background: $black-color;

	&__content {
		// padding: 100px 0;
		background: $black-color;

	}

	&__statistics {
		min-height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width: $tablet-big) {
			// min-height: 0;
			gap: 30px;
			justify-content: center;
			align-items: center;
		}
	}



	&__reviews {

		min-height: 50vh;
		background: url('../img/bg-sections/reviews.png') bottom/cover no-repeat;
		box-shadow: inset 0px 0px 15px 15px $black-color;

	}
}

.statistics-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;

	padding: 50px 0;



}

.statistics-item {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: $black-color;
	border: 1px solid $purple-color;

	width: 350px;
	height: 175px;



	gap: 20px;
	transition: all .758s ease;

	b {
		font-weight: 700;
		font-size: 50px;
		line-height: 66px;
		color: $blueGray-color;
		transition: all .8s ease;
	}

	span {
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 1px;
		color: $white-color;
		transition: all .8s ease;
	}

	&:hover {
		background: $purple-color;
		border: 1px solid $white-color;

		b,
		span {
			color: $white-color;
		}
	}

	@media (max-width: $screen) {
		width: 300px;
		height: 150px;
		gap: 0;

		b {
			font-size: 36px;
			// line-height: ;
		}
	}

	@media (max-width: $tablet-big) {

		width: 320px;
		height: 160px;
		gap: 0;


	}
}


.reviews {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		// align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 15px;
		padding: 25px;

		@media (max-width: $mobile) {
			padding: 25px 0;
		}


	}

}

.reviews-slider {
	position: relative;
	padding: 30px;
	display: flex;

	// &::before {
	// 	content: url('../img/reviews/left.svg');
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }

	// &::after {
	// 	content: url('../img/reviews/right.svg');
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 0;
	// }

	@media (max-width: $mobile) {
		padding: 15px;

		&::before,
		&::after {
			// display: none;
		}
	}

}

.review {


	&__author {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	&__content {
		// max-width: 783px;

		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		text-align: center;
		letter-spacing: 1px;

		color: $white-color;
	}
}

.author {
	&__photo {
		position: relative;
		height: 160px;
		width: 135px;
		border-radius: 10px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 1px;
		color: $white-color;
	}

	&__company {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 1px;

		span {
			color: $pink-color;
		}
	}
}

.reviews-btn {
	align-self: end;
	border: 1px solid $white-color;
	padding: 0 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	color: $pink-color;
	transition: all .3s ease;

	&:hover {
		transition: all .3s ease;
		background: linear-gradient(38deg, rgba(2, 0, 36, 1) 0%, rgba(231, 163, 206, 1) 52%, rgba(173, 143, 196, 1) 71%, rgba(0, 212, 255, 1) 100%);
		color: $white-color;
	}

	&:active {
		transition: all .3s ease;
		background: linear-gradient(210deg, rgba(2, 0, 36, 1) 0%, rgba(231, 163, 206, 1) 52%, rgba(173, 143, 196, 1) 71%, rgba(0, 212, 255, 1) 100%);
		color: $white-color;
	}

}

.slick-initialized .slick-slide {
	display: flex;
	gap: 50px;
	align-items: center;
	margin: 0 10px;
}

.slick-prev {
	width: 35px;
	height: 35px;

	&::before {
		content: url('../img/reviews/Chevron_Left_Duo.svg');
		font-family: none;
		font-size: none;
		line-height: none;
		opacity: 1;
	}
}


.slick-next {
	width: 35px;
	height: 35px;

	&::before {
		content: url('../img/reviews/Chevron_Right_Duo.svg');
		font-family: none;
		font-size: 20px;
		line-height: 1;
		opacity: 1;
	}
}


@media (max-width: $tablet-big) {
	.review {
		&__content {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.author {
		&__photo {
			height: 155px;
			width: 130px;
		}

		&__name {
			font-size: 14px;
			line-height: 21px;
		}

		&__company {

			font-size: 14px;
			line-height: 21px;
		}
	}
}

@media (max-width: $tablet) {
	.slick-initialized .slick-slide {
		gap: 30px;
	}

	.author {
		&__photo {
			height: 145px;
			width: 120px;
		}
	}
}

@media (max-width: 648px) {
	.slick-initialized .slick-slide {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		gap: 10px;
	}

	.author {


		&__photo {
			height: 155px;
			width: 130px;

		}

	}

	.review__content {
		flex: 1 1 100%;
	}
}

@media (max-width: $mobile) {

	.slick-prev,
	.slick-next {
		display: none;
			z-index: -3;
			visibility: hidden;
		&::before {
			display: none;
			z-index: -3;
			visibility: hidden;
		}

	}
}